@page
@model IndexModel
@{
    ViewData["Title"] = "Kirankumar Munaga";
}

<div class="text-center">

    <h1 class="display-4">Kirankumar Munaga</h1>
    <h3>This is my first web application.</h3>
</div>
